html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.home-container {
  height: 100vh;
  background-color: #020d34; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  color: #ffffff;
  font-family: 'Segoe UI', sans-serif;
  background-size:auto;
}

.logo {
  width: 450px;
  height: auto;
  margin-bottom: 20px;
}

.app-name {
  font-size: 30px;
  font-weight: bold;
  color: #dddfdf; 
  margin-bottom: 10px;
}



.get-started-btn {
  margin-top: 30px;
  padding: 14px 28px;
  font-size: 18px;
  background: linear-gradient(90deg, #00bfff, #0099ff);
  color: white;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 0 12px rgba(0, 191, 255, 0.6);
  transition: all 0.3s ease;
}

.get-started-btn:hover {
  background: linear-gradient(90deg, #0099ff, #00bfff);
  box-shadow: 0 0 20px rgba(0, 191, 255, 0.9);
}
